
body{
    margin: 0;
}

.dropdown {
    color: #afa732; 
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

.plot-container {
    border-radius: 15px; 
    overflow: hidden;
}

.main-graph {
    background-color: lightblue;
    border-radius: 15px;
    padding: 10px;
}

/* header styling */

h1 {
    color: #afa732; 
    font-family: 'Courier New', Courier, monospace; 
}

.top {

    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

/* materals styling */

.materials-container {
    display: flex;  
    justify-content: center;  
    align-items: center;      
    width: 80vw;
    padding: 2vh;
}

.box-common {
    background-color: #353431; 
    color: white;  
    display: flex; 
    justify-content: center;  
    align-items: center;      
    flex-direction: column;
    border-radius: 10px;  
    border: solid black 2px;
    height: 40vh;
    width: 60vw;
    padding: 10px;
    margin: 15px;
}

.box-top{
    align-items: start;      
}

.box-mid {
    align-items: center;       
}


.box-image{
    height: 80%;
    width: 95%;
}


.dd-width-padding {
    width: 30%;
    padding: 20px;
}

.drop-down-menu{
    width: 50%;
    padding-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #353431;
    color: #afa732;        /*text color*/
}

.graph-and-dropdown-container{
    background: #353431; 
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    border-radius: 15px;
    border: solid black 2px;
    padding: 25px;
    margin-bottom: 50px;
}

.background{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: #23221B;
    padding: 0;
    margin: 0;
}